.brand {
  flex: 1;
}

.nav {
  padding: 5px;
}

.content {
  padding: 10px 20px;
}

.page-title {
  margin: 25px 0;
}

.news {
  padding: 5px 10px;
}

.img {
  width: 450px;
}

.link {
  text-decoration: none;
  color: #fff;
}

.link:hover {
  color: #eaeaea
}